<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Search</h1>
  <form class="form-inline my-2 my-lg-0" action="/doSearch" method="post">
        Name <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" class="form-control" type="text" name="txtName" id="">
        <br>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
  </form>
  {{> footer}}
</body>
</html>